.upload-box {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #666;
    background-color: #c0dfff;
    transition: border-color 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    min-width: 60%;
    border-color: #06213d
  }
  
  .upload-box:hover {
    border-color: #03101e;
  }
  
  .upload-icon {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #555;
  }
  body {
    background-image: url('./s.png');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    margin: 0; /* Removes default margin */
    height: 100%; /* Ensures the body takes up the full viewport height */
  }